
<!-- <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYzIxMjdlNDgtMTA2YS00ZTg0LWIzNDktNDNkZjVmNDVlNWM3IiwidCI6IjdiODliYTIxLTRhY2ItNDEwOS04NzhiLWM4OTUzYWMxNzBiMSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=609909d1-0d08-466a-bd82-7d83b3dacbed" frameborder="0" allowFullScreen="true"></iframe>


<iframe src="https://app.powerbi.com/reportEmbed?reportId=609909d1-0d08-466a-bd82-7d83b3dacbed&amp;language=en-US&amp;formatLocale=en-US" scrolling="no" allowfullscreen="true" style="width:100%;height:100%;"></iframe>
<iframe src="https://app.powerbi.com/reportEmbed?reportId=609909d1-0d08-466a-bd82-7d83b3dacbed -->
<div class="backgroundcolors">
<div class="container-fluid">
  <div class="row">
    <app-calendar></app-calendar>
  </div>
 
</div>
</div>



 <!-- <div class="row">
      <div class="col-xs-6 col-md-3">
        <app-week Month="March"></app-week>
      </div>
      <div class="col-xs-6 col-md-3">
        <app-week Month="June"></app-week>
      </div>
      <div class="col-xs-6 col-md-3">
        <app-week Month="September"></app-week>
      </div>
      <div class="col-xs-6 col-md-3">
        <app-week Month="December"></app-week>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
          <app-week Month="April"></app-week>
        </div>
        <div class="col-xs-6 col-md-3">
          <app-week Month="July"></app-week>
        </div>
        <div class="col-xs-6 col-md-3">
          <app-week Month="October"></app-week>
        </div>
        <div class="col-xs-6 col-md-3">
          <app-week Month="January"></app-week>
        </div>
      </div>
     <!--<app-day [DispDay]="DisplayDate"></app-day> - ->
    <div class="row">
    <div style="text-align:center;" class="col-xs-3">
        <span style="border: 1px solid">February</span>
        <table>
            <tr>
              <th>QWeek</th>
              <th>Week</th>
              <th>Saturday</th>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
            </tr>
            <tr >
              <td style="background: gray; border:1px solid">1</td>
              <td style="background:gray; border:1px solid">1</td>
              <td style="border: 1px solid">3</td>
              <td style="border: 1px solid">4</td>
              <td style="border: 1px solid">5</td>
              <td style="border: 1px solid">6</td>
              <td style="border: 1px solid">7</td>
              <td style="border: 1px solid">8</td>
              <td style="border: 1px solid">9</td>
               
            </tr>
          </table>

    </div> 



  </div>-->